/* Common Shared Styles */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 5px;
    background: #FFF;
    border-color: white;
    width: 160px;
    height: 64px;
    color: #005FAC;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

/* header style */
header {
    background-image: url("../images/banner/banner3.png");
    background-repeat: no-repeat;
    width: 1550px;
    height: 800px;
}

.header-section {
    color: #FFF;
    text-align: right;
    padding: 216px 230px 364px 845px;
}

.header-section h1 {
    padding-bottom: 24px;
    font-size: 65px;
    font-weight: 600;

}

.header-section p {
    padding-top: 0px;
    padding-bottom: 32px;
    font-size: 16px;
    font-weight: 400;
}

.header-btn {
    border-radius: 5px;
    background: #FFF;
    border-color: white;
    width: 160px;
    height: 64px;
}

/* main style */
main {
    padding: 140px;
    /* max-width: 1500px; */
}

/* failures style */
.failures {
    display: flex;
    margin: 0 auto;
}

.failuer-container {
    padding-left: 134px;
}

.failuer-container h3 {
    color: var(--Dark-01, #151414);
    font-size: 50px;
    font-weight: 600;
    padding-top: 230px;
    padding-bottom: 24px;
}

.failuer-container p {
    color: var(--Dark-02, #444343);
    font-size: 16px;
    font-weight: 400;
    padding-top: 0px;
    padding-bottom: 16px;
}

.failures-check {
    display: flex;
}

.failures-check svg {
    padding-right: 10px;
}

li {
    list-style: none;
}

/* plan section */
.plan {
    max-width: 1550px;
}

.plans-title {
    margin-top: 130px;
    padding-bottom: 50px;
    color: var(--Dark-01, #151414);
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.plan-container {
    display: flex;
    justify-content: space-between;
    /* padding-left: 64px; */
}

.plan-sector img {
    width: 93px;
    height: 93px;
    text-align: center;
    margin-top: 0px;
}

.a {
    margin: 0px 113px 24px 64px;
}

.b {
    margin: 0px 31px 21px 32px;
}

.c {
    margin: 0px 62px 24px 63px;
}

.d {
    margin: 0px 40px 24px 41px;
}

.plan-title {
    color: var(--Dark-01, #151414);
    margin-top: 0px;
    margin-bottom: 16px;
    font-size: 30px;
    font-weight: 700;
}

.plan-descriptoon {
    color: var(--Dark-03, #737272);
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 0px;

}

/* positive-section */
.positive-section {
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1450px;
    height: 300px;
    border-radius: 8px;
    margin-top: 130px;
    padding-left: 64px;

}

.positive-title {
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
    padding: 59px 617px 24px 0px;
}

